<span id="favorite-form-<%= micropost.id %>">
  <% if current_user.favorite?(micropost) %>
   <%= render 'favorites/unfavorite', micropost: micropost %>
  <% else %>
    <%= render 'favorites/favorite', micropost: micropost %>
  <% end %>
</span>